<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <!-- Tab Icon  ,,, copy first 2 lines for bootstrap css-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>

   <link rel="shortcut icon" href="..//CSS/favicon.ico" />
   <link rel="stylesheet" href="/SRhomepagestyle.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <title>Document</title>
</head>

<body onload="myFunction({{request}})">

   <img src="/image.png" class="logo">
   <nav>
      <h2>C R E P</h2>
      <ul>
         <li><a href="/advisorHP">Home</a></li>
         <li><a href="/auth/logout">Log Out</a></li>
      </ul>
   </nav>
   <div class="container mt-4">
      <div class="card">
         <div class="card-header">
            <div class="tab-content" id="nav-tabContent">
                  <div class="form-group">
                     <label >Student Name: {{request.[0].SRname}}</label>
                  </div>
                  <div class="form-group">
                     <label >Project title: {{request.[0].projectTitle}}</label>
                  </div>
                  <div class="form-group">
                     <label >Project area: {{request.[0].area}}</label>
                  </div>
                  <div class="form-group">
                     <label >Target audience: {{request.[0].target}}</label>
                  </div>
                  <div class="form-group">
                     <label >Educational Directorates: {{request.[0].educ_dir}}</label>
                  </div>
                  <div class="form-group">
                     <label >Research tool: {{request.[0].url}}</label>
                  </div>
               <form action="auth/advApp">
                  <button type="submit" class="btn btn-primary">Approve</button>
               </form>
               <br>
                  <div class="form-group">
                     <label >Number of request waiting for respond: {{request.length}}</label>
                  </div>
            </div>
            <form action="auth/advRej" method="POST">
                  <div class="form-group">
                     <label for="reason">Rejection reason : </label>
                     <input type="text" class="form-control" id="reason" name="reason" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Rejection</button>
            
            </form>

         </div>
      </div>
      
      {{#if message}}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
      {{/if}}
   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"></script>
      
</body>

</html>